:root {
  --red: #aa0707;
  --yellow: #f8ab05;
  --blue: #499fb5;
  --orange: #ffa133;
  --green: #abdb9a;
  --dark: hsl(0, 0%, 14%);
  --light: hsl(0, 0%, 86%);
  --bords: 30px
}

.profilePic {
	height: 128px;
	width: 128px;
}

.mern {
	height: 128px;
	width: 128px;
}

.mtnBackground {
	background-image: url('./images/lucas-davies-jF6GX9rX3Bw-unsplash.webp');
	background-position: center;
	background-size: cover;
}

.foodBackground {
	background-image: url('./images/charlesdeluvio-_p-DIj5LJKc-unsplash.webp');
	background-position: center;
	background-size: cover;
}

.nerdBackground {
	background-image: url('./images/brian-mcgowan-LObpG0ku8VM-unsplash.webp');
	background-position: center;
	background-size: cover;
}

.taskBackground {
	background-image: url('./images/torbjorn-helgesen-C4FbCe4L_pw-unsplash.webp');
	background-position: center;
	background-size: cover;
}

.weatherBackground {
	background-image: url('./images/noaa-kcvlb727mn8-unsplash.webp');
	background-position: center;
	background-size: cover;
}

.gradientBackground {
	/* background: linear-gradient(-45deg, #2565b0, #2731b7, #2e21a3, #19106c, #250c58, #3c0c58, #441161, #4b1868, #622686, #823caa, #a759d4); */
	background: linear-gradient(-45deg, var(--red), var(--orange), var(--red));
    background-size: 400% 400%;
	animation: gradient 30s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.cards {
	height: 450px;
	width: 90%;
    margin-left: 3rem;
	margin-bottom: 5rem;
}

.cardContent {
	height: 450px;
	text-align: center;
	position: relative;
	padding: 12rem;
	transition: transform 2s;
	background-color: var(--blue);
	transform-style: preserve-3d;
    border-radius: 15px;
}

.cards:hover .cardContent {
	transform: rotateX(0.5turn);
}

.cardFront,
.cardBack 
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.cardFront {
	height: 450px;
	border: 1px solid black;
    border-radius: 15px;
}

.cardBack {
	transform: rotateX(0.5turn);
    border-radius: 15px;
}

.card-header {
	font-size: 2rem;
    text-align: center;
    padding: 1rem;
	border-bottom: 2px solid black;
}

#dinner {
    height: 360px;
    width: 360px;
}

#icons {
    padding-top: 5rem
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
