:root {
  --red: #c80d0d;
  --yellow: #f8ca05;
  --blue: #52b2cb;
  --orange: #ffa133;
  --green: #abdb9a;
  --dark: hsl(0, 0%, 14%);
  --light: hsl(0, 0%, 86%);
  --bords: 30px
}

.mtnBackground {
	background-image: url('./images/lucas-davies-jF6GX9rX3Bw-unsplash.jpg');
	background-position: center;
	background-size: cover;
}

.gradientBackground {
	/* background: linear-gradient(-45deg, #2565b0, #2731b7, #2e21a3, #19106c, #250c58, #3c0c58, #441161, #4b1868, #622686, #823caa, #a759d4); */
	background: linear-gradient(-45deg, var(--red), var(--orange), var(--yellow));
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.App {
  text-align: center;
}

